@charset "utf-8";

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Neue Montreal', sans-serif;
}

::selection{
    background: #C9BAFF;
}

body{
    --text-color: #0d0d0d;
    --bg-color: #ffffff;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

body::before{
    content:"";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 252, 245, 0);
    transition: .7s cubic-bezier(0.33, 1, 0.68, 1);
}

body.menu-switch::before{
    z-index: 2;
    background-color: rgba(255, 252, 245, 0.8);
}

#loading{
    user-select: none; pointer-events: none;
    z-index: 10;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0; margin: auto;
    width: calc(3rem + 2vw); height: calc(3rem + 2vw);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/loading.svg);
    animation: loading 0.7s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    opacity: 0;
    transition: 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}
@keyframes loading{
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}
}

html.is-animating #loading{
    transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    width: calc(3rem + 1vw); height: calc(3rem + 1vw);
    transition-duration: 0.7s;
    opacity: 1!important;
}

.transition-fade{
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    opacity: 1;
}
html.is-animating .transition-fade{
    opacity: 0;
}
.transition-slide{
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateX(0%);
}
html.is-animating .transition-slide{
    transform: translateX(-100%);
}
@media only screen and (max-width: 768px){
    .transition-slide{
        transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
        transform: translateY(0%);
    }
    html.is-animating .transition-slide{
        transform: translateY(-100%);
    }
}

nav{
    z-index: 2;
    position: fixed;
    top: 0;
}

#logo{
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    left: 0;
    top: 0;
    position: relative;
    display: inline-block;
    margin: calc(2.2rem + 1vh) 0 calc(0.2rem + 1vh) calc(2.5rem + 1vw);
}
#logo div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#logo div img{
    height: calc(1rem + 0.2vw);
    transition: 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}
#logo div:first-of-type{
    padding-bottom: calc(1rem + 0.2vw);
}
#logo div:last-of-type{
    position: absolute;
    left: 0; top: 0;
}
#logo div:last-of-type img{
    opacity: 0;
    margin-right: 0.15rem;
}
/*logo animation delays*/
#logo div:first-of-type img:nth-of-type(2), #logo:hover div:last-of-type img:nth-of-type(2), #logo.menu-switch div:last-of-type img:nth-of-type(2){
    transition-delay: 0.3s;
}
#logo div:first-of-type img:nth-of-type(3), #logo:hover div:last-of-type img:nth-of-type(3), #logo.menu-switch div:last-of-type img:nth-of-type(3){
    transition-delay: 0.2s;
}
#logo div:first-of-type img:nth-of-type(4), #logo:hover div:last-of-type img:nth-of-type(4), #logo.menu-switch div:last-of-type img:nth-of-type(4){
    transition-delay: 0.4s;
}
#logo:hover div:first-of-type img:nth-of-type(2), #logo.menu-switch div:first-of-type img:nth-of-type(2), #logo div:last-of-type img:nth-of-type(2){
    transition-delay: 0.15s;
}
#logo:hover div:first-of-type img:nth-of-type(3), #logo.menu-switch div:first-of-type img:nth-of-type(3), #logo div:last-of-type img:nth-of-type(3){
    transition-delay: 0.1s;
}
#logo:hover div:first-of-type img:nth-of-type(4), #logo.menu-switch div:first-of-type img:nth-of-type(4), #logo div:last-of-type img:nth-of-type(2){
    transition-delay: 0.2s;
}
/*loading animation*/
body.loading-animation::before{
    z-index: 2;
    background-color: var(--bg-color);
}
body.loading-animation nav{
    background-color: transparent;
    box-shadow: none;
}
body.loading-animation #hamburger-button{
    opacity: 0;
}
body.loading-animation #logo{
    pointer-events: none;
    left: calc(50vw - 5.1rem - 3.4vw);
    top: calc(50vh - 3.2rem - 1vh - 1.2vw);
}
body.loading-animation #logo img{
    height: calc(1rem + 1.2vw);
}
body.loading-animation #logo div:last-of-type img:first-of-type{
    margin-right: 0.25rem;
}

#hamburger-button{
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0;
    margin: 0 0 0 calc(2.5rem + 1vw);
    border: none;
    background-color: transparent;
    width: 1.5rem;
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
#hamburger-button::before{
    z-index: -1;
    content: "";
    position: absolute;
    left: -0.5rem;
    top: -0.6rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: #d9d9d9;
    border-radius: 2.4rem;
    transform: scale(0);
    transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
@media (hover: hover) and (pointer: fine){
#hamburger-button:hover::before{
    transform: scale(1);
}
}
#hamburger-button:focus{
    outline: none;
}
#hamburger-button hr{
    margin: 0;
    width: 100%;
    min-height: 3px;
    border: none;
    background-color: #0d0d0d;
    border-radius: 10rem;
    transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    transform-origin: left;
}
#hamburger-button hr:not(:nth-of-type(2)){
    width: 80%;
}
#hamburger-button hr:nth-of-type(2){
    margin: 0.3rem 0;
}
/*hamburger button animation*/
#hamburger-button.menu-switch hr:nth-of-type(2){
    transform: scaleX(0);
}
#hamburger-button.menu-switch hr:first-of-type{
    transition-delay: 0.1s;
    width: 100%;
    transform: translateY(-0.05rem) rotate(45deg);
}
#hamburger-button.menu-switch hr:last-of-type{
    transition-delay: 0.2s;
    width: 100%;
    transform: rotate(-45deg);
}

#menu{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0%;
    height: 100%;
    width: calc(35vw + 20vh);
    background-image: url(../img/menu.png);
    background-size: 100% 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transform: scale(0.001);
    transform-origin:  calc(3rem + 1vw) calc(5.5rem + 1.5vh);
}
#menu, #menu *, #menu::before{
    transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
#menu a{
    color: var(--text-color);
    align-self: flex-start;
    margin: 1rem 0 1rem 0;
    font-size: calc(2.5rem + 1.5vh + 3vw);
    text-decoration: none;
    opacity: 0;
}
#menu a:nth-of-type(2){
    transition-delay: 0.1s;
}
#menu a:last-of-type{
    transition-delay: 0.2s;
}
#menu::before{
    content: "";
    z-index: -1;
    position: absolute;
    left: -50%;
    height: 110%;
    width: 150%;
    background-color: #d9d9d9;
    border-radius: 120vh;
    transition-timing-function: cubic-bezier(.52,.87,0,.99);
}
/*menu animation*/
#menu.menu-switch{
    transition-duration: 0.7s;
    transform: scale(1);
}
#menu.menu-switch::before{
    transition: 0.5s cubic-bezier(.26,.57,0,1.08);
    width: 100%;
    height: 100%;
}
#menu.menu-switch a{
    transition-duration: 0.9s;
    margin-left: 30%;
    opacity: 1;
}
#menu.menu-switch button{
    transition-duration: 1.2s;
    margin-left: 30%;
    opacity: 1;
}

.header{
    position: relative;
    z-index: 1;
    font-weight: normal;
    font-size: calc(1.5rem + 1.5vw + 0.5vh);
    margin: 0 calc(1rem + 10vw) 8rem 22%;
}
.header span{
    font-weight: normal;
    font-size: calc(1.5rem + 1.5vw + 0.5vh);
}

.banner-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/*miss dior*/
.missdior #hamburger-button hr{
    background-color: #BC6886;
}

.section-header{
    text-transform: uppercase;
    margin: 0 5rem 0.75rem 22%;
    color: #9D9D9D;
    letter-spacing: 0.5px;
}
.section-p{
    margin: 0 5rem 1rem 22%;
    width: 40%;
    font-weight: 400;
    line-height: 1.75rem;
}
.p-header{
    margin: 1.8rem 5rem 0.75rem 22%;
    font-weight: normal;
    color: #9D9D9D;
}

.wide-img{
    padding: 0 16%;
    margin: 0 0 4rem 0;
    width: 100%;
}
.inline{
    padding: 0 38% 0 22%;
    margin: 2rem 0 1rem 0;
}

.wide{
    margin-left: 16%;
}
.large{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

/*meiji x tokyo olympics 2020*/
.meiji #hamburger-button hr{
    background-color: #FFC192;
}

/*eu travel mate*/
.index nav.lighten #logo:not(#logo.menu-switch), .index nav.lighten #hamburger-button:not(#hamburger-button.menu-switch), .exex nav.lighten:not(nav.shadow) #logo:not(#logo.menu-switch), .exex nav.lighten:not(nav.shadow) #hamburger-button:not(#hamburger-button.menu-switch), .eutm nav.lighten #logo:not(#logo.menu-switch), .eutm nav.lighten #hamburger-button:not(#hamburger-button.menu-switch), .murchies nav.lighten #logo:not(#logo.menu-switch), .murchies nav.lighten #hamburger-button:not(#hamburger-button.menu-switch){filter: brightness(0) invert(1);}
body.menu-switch nav.lighten #logo, body.menu-switch nav.lighten #hamburger-button{filter: none;}
.eutm #hamburger-button hr{
    background-color: #FC7634;
}
.eutm p a{
    color: #FC7634;
    font-weight: 700;
}
#design-challenge{
    padding: 17vh 0;
    margin: 0 0 7rem 0;
}
#design-challenge .header{
    margin-bottom: 0;
    margin: 0 22%;
}
.eutm #design-challenge, .orange-block{
    background-color: #FC7634;
    color: white;
    padding: 17vh 0!important;
}
.orange-block{margin-bottom: 20vh;}
.orange-block .section-header{color: #FFE5D9;}

.eutm section{
    margin: 0 22% 10rem 22%;
    display: grid;
    grid-template-columns: 68% auto;
    align-items: center;
}
.eutm section *{
    margin-left: 0!important; margin-right: 0!important;
}
.orange-block section{
    margin-bottom: 0!important;
    margin-top: 0!important;
}
.orange-block section h1{
    font-family: 'Blenda Script', serif;
    font-size: calc(2rem + 3vw + 0.5vh);
    line-height: calc(1.7rem + 3vw + 0.5vh);
}
.eutm section .p-header{color: #FC7634;}
.eutm section p{
    width: 65%;
}
.eutm video{
    display: block;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 4rem rgba(167, 167, 167, 0.22);
}
.persona{
    width: 100%;
    background-color: #F4F4F4;
    padding: 2.5% 3.5%;
    margin: 0 5% 0 0;
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 1.5rem;
}
.persona h1{
    grid-column: 1/-1;
    color: #FC7634;
    margin: 0 0 3.5rem 0;
    font-size: 2.5rem;
}
.persona img{
    margin: 0 0 2.5rem 0;
    width: 80%;
}
.persona h2{
    margin: 0 0 0.8rem 0;
    color: #9D9D9D;
    font-size: 1.3.5rem;
    font-weight: 400;
}
.persona ul{
    margin: 0 0 1.5rem 0;
    list-style: none;
    padding: 0;
}
.persona li{
    position: relative;
    margin: 0 0 0.5rem 2.3rem;
    line-height: 1.5rem;
}
.persona li::before{
    content: "";
    position: absolute; top: 0; bottom: 0; left: -1.15rem; margin: auto;
    background-color: #FC7634;
    width: 0.25rem; height: 0.25rem; border-radius: 100%;
}
.persona p{
    margin: 0 0 2rem 0;
    line-height: 1.5rem;
}

.eutm .main-carousel{
    margin: 1rem 22% 8rem 22%;
}
.eutm .flickity-prev-next-button{
    top: 107%;
}
.flickity-prev-next-button{
    display: none;
}
.eutm .carousel-cell{touch-action: pan-y;}

@media (pointer: fine) and (hover:hover){
    .flickity-page-dots{
        display: none;
    }
    .flickity-prev-next-button{
        display: block;
    }
}

#eutm-grid{
    margin: 3rem 22% 8rem 22%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.5rem 1.5rem;
}
#eutm-grid img{
    width: 100%;
    border: 1px solid black;
}
.eutm .wide-img{
    margin-bottom: 7rem;
}

#eutm-visuals{margin: 3rem 26% 5rem 26%;}
#eutm-visuals div{
    display: grid;
    grid-template-areas: "top1 top2"
                         "bottom1 bottom2"
                         "top3 top4"
                         "bottom3 bottom4";
    grid-template-columns: 62% auto;
}
#eutm-visuals div *{margin: 0;}
#eutm-visuals div *:not(h1):not(h3){font-family: 'Mallory', sans-serif;}
#eutm-visuals div h2{font-size: 1.2rem;}
#eutm-visuals div h2:first-of-type{font-weight: 400}
#eutm-visuals div p{
    font-weight: 300;
    font-size: 0.8rem;
}
#eutm-visuals h3{
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 3rem 0 0.5rem 0;
}
#eutm-visuals div h3:first-of-type{grid-area: top1;}
#eutm-visuals div h3:nth-of-type(2){grid-area: top2;}
#eutm-visuals div h3:nth-of-type(3){grid-area: top3;}
#eutm-visuals div h3:nth-of-type(4){grid-area: top4;}
#eutm-visuals div h1{
    font-family: 'Blenda Script', serif;
    font-size: 3rem;
}
#eutm-visuals > img{
    width: 75%;
}
#eutm-visuals ul{
    list-style: none;
    padding: 0;
}
#eutm-visuals li{
    display: inline-block;
    padding: 1.5rem 2.5rem;
    margin: 0 1rem 1rem 0;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 5rem;
    color: white;
}
#eutm-visuals ul li:first-of-type{background-color: #FC7634}
#eutm-visuals ul li:nth-of-type(2){background-color: #505050}
#eutm-visuals ul li:last-of-type{background-color: #E5E5E5; color: #1a1a1a}
.eutm > h3:last-of-type{margin-top: 8rem;}
.eutm > p:last-of-type{margin-bottom: 8rem;}

.flickity-button{
    background: transparent!important;
    position: relative;
    width: 40px!important;
    height: 40px!important;
}
.flickity-button::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 100%;
    transition: .5s ease;
    left: 0;
    background-color: #eeeeee;
}
.flickity-button:hover::before{
    background: #5522FD;
}
.archive .flickity-prev-next-button{
    top: calc(100% + 25px + 1vh + 0.5vw)!important;
}
.flickity-prev-next-button.previous{
    left: calc(50% - 50px)!important;
}
.flickity-prev-next-button.next{
    right: calc(50% - 50px)!important;
}
.flickity-button-icon path{
    fill: #5522FD;
    transition: .5s ease;
}
.flickity-button:hover path{
    fill: white;
}

@media only screen and (max-width: 768px) {
    nav{
        margin-bottom: calc(3rem + 2vw);
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: flex-start;
        justify-content: space-between;
        transition: 0.15s cubic-bezier(0.25, 1, 0.5, 1);
    }
    #logo{
        margin: calc(1.2rem + 1vh) calc(1.5rem + 1vw) calc(0.2rem + 1vh) 0;
    }
    body.loading-animation #logo{
        left: calc(-53vw + 4.5rem + 3.4vw);
    }
    #hamburger-button{
        margin: calc(1.2rem + 1vh) 0 0 calc(1.5rem + 1vw);
        display: inline-block;
    }
    #menu{
        width: 90vw;
        transform-origin: calc(3rem + 1vw) calc(1rem + 1.5vh);
    }
    
    .header{
        font-size: calc(1.4rem + 0.1vw);
        margin-bottom: 0;
        line-height: calc(1.5rem + 0.75vh);
    }
    .header span{
        font-size: calc(1.4rem + 0.1vw);
    }
    .section-header, .section-p, .p-header, #eutm-grid{
        margin-left: calc(1.5rem + 1vw);
        margin-right: calc(1.5rem + 1vw);
        width: auto;
    }
    .banner-img{
        animation: span-img 40s linear alternate 1s infinite;
    }
    .meiji .banner-img{
        animation: span-meiji 40s linear alternate 1s infinite;
    }
    @keyframes span-img {
        0% {object-position: center;}
        25% {object-position: 100% 0;}
        50% {object-position: center}
        75% {object-position: 0 0;}
        100% {object-position: center;}
    }
    @keyframes span-meiji {
        0% {object-position: 45% 40%;}
        25% {object-position: 100% 40%;}
        50% {object-position: 45% 40%;}
        75% {object-position: 0 40%;}
        100% {object-position: 45% 40%;;}
    }
    .wide-img{
        margin-bottom: 0;
        padding: 0 0 8% 0;
    }
    .inline{
        padding: 0  calc(2.5rem + 1vw);
    }
    .eutm section{
        margin: 10rem calc(1.5rem + 1vw);
        grid-template-columns: 60% auto;
    }
    .eutm section h1{
        font-size: calc(2.2rem + 4vw)!important;
        line-height: calc(2rem + 4vw)!important;
    }
    .eutm .main-carousel{
        margin: 1rem calc(1.5rem + 1vw) 8rem calc(1.5rem + 1vw);
    }
    #eutm-visuals{margin: 3rem 7% 5rem 7%;}
    nav.shadow{
        background-color: var(--bg-color);
        box-shadow: 0 0.5rem 0.5rem rgba(150, 150, 150, 0.2);
    }
    nav.flatten{
        box-shadow: none;
    }
    #design-challenge{
        margin: 0 0 10vh 0;
        padding-bottom: 12vh!important;
    }
    #design-challenge .header{
        margin: 0 calc(1.5rem + 1vw);
    }
} 
@media only screen and (max-width: 600px) {
    .eutm section{
        grid-template-columns: 1fr;
    }
    .eutm section p{width: 100%;}
    .eutm video{
        margin-top: 2rem;
        justify-self: center;
        width: 90%;
        border-radius: 1.35rem;
    }
    .persona{
        max-height: 65vh;
        overflow-y: scroll;
        grid-template-columns: 1fr;
        padding: 5% 7%;
        box-shadow: inset 0 -3rem 4rem rgba(167, 167, 167, 0.22);
    }
    .persona h1{
        text-align: center;
        margin: 0 0 1rem 0;
    }
    .persona img{
        width: 100%;
        height: 27vw;
        object-fit: contain;
    }
    #eutm-grid{
        grid-template-columns: 1fr 1fr;
    }
}