@charset "utf-8";

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    color: #1c1c1c;
}

::selection{
    background: #C9BAFF;
}

/*
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #C9BAFF;
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
    
}
*/

body{
    margin: 0;
    background-color: #FFFCF5;
    overflow-x: hidden;
}

body::before{
    content:"";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 252, 245, 0);
    transition: .7s cubic-bezier(0.33, 1, 0.68, 1);
}

body.menu-switch::before{
    z-index: 2;
    background-color: rgba(255, 252, 245, 0.8);
}

nav{
    z-index: 2;
    position: sticky;
    top: 0;
    margin-bottom: calc(4rem + 2vw);
}

#logo{
    display: inline-block;
    margin: calc(2.2rem + 1vh) 0 calc(0.2rem + 1vh) calc(2.5rem + 1vw);
}
#logo div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#logo div img{
    height: calc(1rem + 0.2vw);
    transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}
#logo div:last-of-type img{
    opacity: 0;
    margin-right: 0.15rem;
}
/*logo animation*/
#logo:hover div:first-of-type img{
    opacity: 0;
    transform: translateY(-200%);
}
#logo:hover div:last-of-type img{
    opacity: 1;
    transform: translateY(-100%);
}
#logo.menu-switch div:first-of-type img{
    opacity: 0;
    transform: translateY(-200%);
}
#logo.menu-switch div:last-of-type img{
    opacity: 1;
    transform: translateY(-100%);
}
#logo div img:nth-of-type(2){
    transition-delay: 0.3s;
}
#logo div img:nth-of-type(3){
    transition-delay: 0.2s;
}
#logo div img:nth-of-type(4){
    transition-delay: 0.4s;
}

#hamburger-button{
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0;
    margin: 0 0 0 calc(2.5rem + 1vw);
    border: none;
    background-color: transparent;
    width: 1.5rem;
}
#hamburger-button::before{
    z-index: -1;
    content: "";
    position: absolute;
    left: -0.5rem;
    top: -0.6rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: #d9d9d9;
    border-radius: 2.4rem;
    transform: scale(0);
    transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
#hamburger-button:hover::before{
    transform: scale(1);
}
#hamburger-button:focus{
    outline: none;
}
#hamburger-button hr{
    margin: 0;
    width: 100%;
    min-height: 3px;
    border: none;
    background-color: #5522FD;
    border-radius: 10rem;
    transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    transform-origin: left;
}
#hamburger-button hr:not(:nth-of-type(2)){
    width: 80%;
}
#hamburger-button hr:nth-of-type(2){
    margin: 0.3rem 0;
}
/*hamburger button animation*/
#hamburger-button.menu-switch hr:nth-of-type(2){
    transform: scaleX(0);
}
#hamburger-button.menu-switch hr:first-of-type{
    transition-delay: 0.1s;
    width: 100%;
    transform: translateY(-0.05rem) rotate(45deg);
}
#hamburger-button.menu-switch hr:last-of-type{
    transition-delay: 0.2s;
    width: 100%;
    transform: rotate(-45deg);
}

#menu{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0%;
    height: 100%;
    width: calc(35vw + 20vh);
    background-image: url(../img/menu.png);
    background-size: 100% 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transform: scale(0.001);
    transform-origin:  calc(3rem + 1vw) calc(5.5rem + 1.5vh);
}
#menu, #menu *, #menu::before{
    transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
#menu a{
    align-self: flex-start;
    margin: 1rem 0 1rem 0;
    font-size: calc(2.5rem + 1.5vh + 3vw);
    text-decoration: none;
    font-family: 'Radio Grotesk', sans-serif;
    opacity: 0;
}
#menu a:nth-of-type(2){
    transition-delay: 0.1s;
}
#menu a:last-of-type{
    transition-delay: 0.2s;
}
#menu::before{
    content: "";
    z-index: -1;
    position: absolute;
    left: -50%;
    height: 110%;
    width: 150%;
    background-color: #d9d9d9;
    border-radius: 120vh;
    transition-timing-function: cubic-bezier(.52,.87,0,.99);
}
/*menu animation*/
#menu.menu-switch{
    transition-duration: 0.7s;
    transform: scale(1);
}
#menu.menu-switch::before{
    transition: 0.5s cubic-bezier(.26,.57,0,1.08);
    width: 100%;
    height: 100%;
}
#menu.menu-switch a{
    transition-duration: 0.9s;
    margin-left: 30%;
    opacity: 1;
}

footer{
    padding: calc(1rem + 5vw) calc(2rem + 7vw);
}
footer h2{
    font-family: 'Radio Grotesk', sans-serif;
    font-weight: normal;
    width: 100%;
    font-size: 2rem;
}
footer div{
    font-size: 0.9rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
footer svg{
    width: 1.75rem;
    margin-right: 0.8rem;
}
footer a{
    position: relative;
}
footer a::before{
    content: "Let's chat";
    position: absolute;
    top: -1.3rem;  
    color: #A0A0A0;
}
footer p{
    color: #A0A0A0;
    margin: 0;
}

#index-landing{
    min-height: 38rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
#index-landing div{
    margin-bottom: 15vh;
}

.header{
    position: relative;
    z-index: 1;
    font-family: 'Radio Grotesk', sans-serif;
    font-weight: normal;
    font-size: calc(2rem + 1.5vw);
    margin: 0 calc(1rem + 10vw) 8rem 22%;
}

.missdior .header{
    z-index: 1;
    margin: 0 24% 0 22%;
    font-size: calc(1.7rem + 1vw);
    color: #E6CDD4;
}

.header span{
    font-family: 'Radio Grotesk', sans-serif;
    font-weight: normal;
    font-size: calc(2rem + 1.5vw);
}

.index .header span{
    cursor: pointer;
    color: #5522FD;
    text-decoration: underline;
    position: relative;
}

.index .header span::before{
    content: "[Thai-yeah]";
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    font-weight: normal;
    font-size: calc(0.4rem + 1vw);
    white-space: nowrap;
    color: #1c1c1c;
    opacity: 0;
    transition: 0.5s cubic-bezier(.26,.57,0,1.08);
}

.index .header span:hover::before{
    opacity: 1;
    top: calc(-1rem - 0.8vw);
}

#padding-square{
    width: 100%;
    height: 5rem;
}

.guide-text{
    font-size: .8rem;
    text-align: center;
}
#scrolldown-button{
    height: 1rem;
    margin: 1.5rem auto 0 auto;
    display: block;
    cursor: pointer;
    animation: dance 0.7s ease infinite alternate both;
}
@keyframes dance {
    from {transform: translateY(0)}
    to {transform: translateY(65%)}
}

#work-header{
    margin: 0 0 0 15%;
    font-family: 'Radio Grotesk', sans-serif;
    font-weight: normal;
    font-size: calc(2rem + 1vw);
}
.index > .guide-text{
    margin: 1rem 0 2rem 15%;
    text-align: left;
}

.case-study{
    text-decoration: none;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: calc(1rem + 1.5vw + 0.75vh);
    margin: 0 0 calc(1.75rem + 12vw) 0;
    height: calc(6rem + 25vw + 8vh);
    width: calc(8rem + 41.7vw + 12vh);
    background-size: cover;
    background-position: center;
}
.case-study:first-of-type{
    float: right;
}
.case-study:nth-of-type(2){
    text-align: right;
}
.case-study img{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.case-study:first-of-type img{
    right: 0;
}
.case-study:nth-of-type(2) img{
    left: 0;
    right: auto;
}
.case-study h1{
    z-index: 1;
    font-family: 'Radio Grotesk', sans-serif;
    font-size: 2rem;
}
.case-study:first-of-type h1{
     width: 40%;
}
.case-study p{
    z-index: 1;
    line-height: 1.5rem;
}
.case-study *:not(img){
    transition-duration: 0.1s;
    transform: translateY(2rem);
    opacity: 0;
}
.case-study::after{
    position: absolute;
    top: calc(45% - 2.5rem - 2.75vw);
    font-size: calc(5rem + 5.5vw);
    font-family: 'Radio Grotesk', sans-serif;
    color: #1C1C1C;
    -webkit-text-stroke: .15rem #1C1C1C;
    -webkit-text-fill-color: transparent;
    transition: .5s ease;
}
.case-study:first-of-type::after{
    content: "01";
    left: calc(-10% - 9vw);
}
.case-study:nth-of-type(2)::after{
    content: "02";
    right: calc(-10% - 9vw);
}
.case-study:hover::after{
    -webkit-text-stroke-color: #5522FD;
}
.case-study::before{
    transition-duration: 0.4s;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 45%;
    background-size: 100% 100%;
    background-position: left;
    transform: scale(0);
    opacity: 0;
}
.case-study:first-of-type::before{
    background-image: url(../img/menu.png);
    left: 0;
    filter: brightness(0) saturate(100%) invert(53%) sepia(24%) saturate(862%) hue-rotate(287deg) brightness(88%) contrast(88%);
    transform-origin: left;
}
.case-study:nth-of-type(2)::before{
    background-image: url(../img/menu-r.png);
    right: -0.5px;
    filter: brightness(0) saturate(100%) invert(76%) sepia(87%) saturate(351%) hue-rotate(359deg) brightness(101%) contrast(104%);
    transform-origin: right;
}
.case-study *:not(img), .case-study::before{
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}
.case-study:hover *:not(img){
    transition-duration: 0.6s;
    transform: translateY(0);
    opacity: 1;
}
.case-study:hover h1{
    transition-delay: 0.2s;
}
.case-study:hover p{
    transition-delay: 0.3s;
}
.case-study:hover::before{
    transition-duration: 0.7s;
    opacity: 0.8;
    transform: scale(1);
}

/*miss dior*/
.missdior nav{
    position: fixed;
}
.missdior #logo img{
    filter: brightness(0) saturate(100%) invert(47%) sepia(80%) saturate(272%) hue-rotate(287deg) brightness(88%) contrast(91%);
}
.missdior #hamburger-button hr{
    background-color: #BC6886;
}

.banner-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#project-title{
    font-family: 'Radio Grotesk', sans-serif;
    font-size: 3rem;
    margin: calc(2rem + 7vw + 0.5vh) 5rem 2rem 22%;
}

#project-info{
    margin: 2.5rem 5rem 5rem 22%;
    display: flex;
    flex-flow: row wrap;
    font-size: calc(0.60rem + 0.2vw);
}
#project-info span{
    margin-right: 5.5%;
}
#project-info h5{
    color: #9D9D9D;
    margin: 0;
    font-weight: 500;
}
#project-info p{
    margin: 0.5rem 0;
    line-height: 1.1rem;
}

.section-header{
    text-transform: uppercase;
    margin: 0 5rem 0.75rem 22%;
    font-family: 'Radio Grotesk', sans-serif;
    color: #9D9D9D;
    letter-spacing: 0.1rem;
}
.section-p{
    margin: 0 5rem 1rem 22%;
    width: 40%;
    font-weight: 500;
    line-height: 1.75rem;
}
.missdior .section-p span, .missdior .section-p span a{
    cursor: pointer;
    text-decoration: underline;
    color: #BC6886;
    position: relative;
    font-weight: 700;
}
.missdior .section-p:nth-of-type(2) span::before{
    content: "";
    position: absolute;
    bottom: 2.5rem;
    left: -12vh;
    width: calc(25vh + 5vw + 5rem);
    background-image: url(../img/pr1_originalposter.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.2rem 1rem #BC6886;
    opacity: 0;
    height: 0;
    transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}
.missdior .section-p:nth-of-type(2) span::after{
    content: "Christian Dior ©2019";
    font-size: 0.8rem;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: absolute;
    bottom: 0;
    left: -12vh;
    width: 100%;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.missdior .section-p:nth-of-type(2) span:hover::after{
    opacity: 1;
    bottom: calc(16.872vh + 3.4vw + 3.4rem);
}

.missdior .section-p:nth-of-type(2) span:hover::before{
    opacity: 1;
    height: calc(14.06vh + 2.81vw + 2.81rem);
}

#fullscreen-section{
    position: relative;
    margin: 12rem 0;
    padding: 10rem 0;
    height: 130vh;
    background-color: black;
}
#fullscreen-section::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65%;
    background-image: url(../img/pr1_smoke.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#fullscreen-section::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pr1_missdiortype.png);
    background-size: 80%;
    background-position: 25% 75%;
    background-repeat: no-repeat;
}

.p-header{
    margin: 1.8rem 5rem 0.75rem 22%;
    font-family: 'Radio Grotesk', sans-serif;
    font-weight: normal;
    color: #9D9D9D;
}

.quote{
    margin: 2em 3rem 3em 22%;
    width: 45%;
    font-size: 1.6rem;
    font-weight: 450;
    font-style: italic;
    color: #BC6886;
    line-height: 2rem;
}
.missdior .quote::after{
    content: "- Christian Dior";
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: normal;
    color: #1c1c1c;
    margin: 1rem 0 0 0;
}

#colours{
    display: flex;
    flex-flow: row wrap;
    margin: 1.8rem 5rem 5rem 22%;
    padding: 0 1.5rem;
}
#colours div{
    flex: 0 0 auto;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}
#colours div::after{
    font-size: 0.8rem;
    font-family: 'Radio Grotesk', sans-serif
}
#colours div:first-of-type{
    background-color: #BC6886;
}
#colours div:first-of-type::after{
    content: "#BC6886";
}
#colours div:nth-of-type(2){
    background-color: #E6CDD4;
}
#colours div:nth-of-type(2)::after{
    content: "#E6CDD46";
}
#colours div:last-of-type{
    background-color: #000000;
}
#colours div:last-of-type::after{
    content: "#000000";
    color: #FFFCF5;
}

#type{
    margin: 1.8rem 0rem 15rem 22%;
    padding: 0 1.5rem;
    width: 30rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
}

#type img{
    height: 9rem;
    width: 100%;
    object-fit: contain;
    object-position: left;
    grid-column: 1/2;
    grid-row: 2/7;
    transform: translateY(-.5rem);
}
#type h6{
    margin: 0;
    text-transform: uppercase;
    color: #9D9D9D;
    font-weight: 400;
    font-size: 0.7rem;
    white-space: nowrap;
}
#type p{
    margin: 0 0 0.8rem 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}
#type p:first-of-type{
    font-weight: 400;
}

#type p:nth-of-type(2){
    text-transform: uppercase;
}

.wide-img{
    padding: 0 16%;
    margin: 0 0 5rem 0;
    width: 100%;
}

.ticket{
    margin-bottom: calc(15vw + 10vh);
    position: relative;
}
.ticket::before{
    content: "";
    position: absolute;
    bottom: -30%;
    right: 14vw;
    width: 50%;
    height: 30%;
    background-image: url(../img/pr1_ticketback.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.ticket::after{
    content: "";
    position: absolute;
    bottom: 2%;
    right: 14vw;
    width: 50%;
    height: 35%;
    background-image: url(../img/pr1_ticketfront.png);
    background-size: 105% auto;
    background-repeat: no-repeat;
    background-position: left;
}

#demo{
    margin: 7rem 16% 8rem 16%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#demo img{
    display: inline-block;
    width: 28%;
    align-self: flex-start;
}

#see-more{
    margin: 8rem 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-image: url(../img/dshape-horizontal.png);
    background-size: 120% calc(100% - 30vh);
    background-repeat: no-repeat;
    background-position: bottom;
}
#see-more div{
    margin: 1.5rem 3rem 3rem 3rem;
    text-align: center;
    transition: .5s ease;
}
#see-more h2, #see-more h3{
    font-weight: 400;
}
#see-more a{
    text-decoration: none;
}
#see-more img{
    height: 25rem;
    box-shadow: -.5rem .5rem 1rem rgba(157, 157, 157, 0.64);
    transition: .5s ease;
}
#see-more img:hover{
    transform: translateY(-0.5rem);
    box-shadow: -.5rem 1rem 1rem rgba(157, 157, 157, 0.64);
}
#see-more h3{
    font-size: .9rem;
}

.wide{
    margin-left: 16%;
}
.large{
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #1c1c1c;
}

/*pride-month-case-studies*/
.pride #logo img:first-of-type{
    filter: brightness(0) saturate(100%) invert(14%) sepia(79%) saturate(5004%) hue-rotate(2deg) brightness(88%) contrast(124%);
}

.pride #logo img:nth-of-type(2){
    filter: brightness(0) saturate(100%) invert(46%) sepia(89%) saturate(1416%) hue-rotate(349deg) brightness(99%) contrast(91%);
}

.pride #logo img:nth-of-type(3){
    filter: brightness(0) saturate(100%) invert(41%) sepia(62%) saturate(2175%) hue-rotate(119deg) brightness(97%) contrast(96%);
}

.pride #logo img:last-of-type{
    filter: brightness(0) saturate(100%) invert(28%) sepia(98%) saturate(1419%) hue-rotate(179deg) brightness(99%) contrast(101%);
}

.pride #hamburger-button hr{
    background-color: #DD0000;
}

.pride nav {
    position: fixed;
}

.pride .header {
    line-height: 4rem;
    margin: 0 calc(1rem + 15vw) 10rem 22%;
}

.pride .section-p span, .pride .section-p span a{
    color: #DD0000;
    text-decoration: underline;
    position: relative;
    font-weight: 700;
}

.pride .section-p span::before{
    content: "";
    position: absolute;
    bottom: 2.5rem;
    left: calc(-4.5vh - 4.5vw - 6.13rem + 80%);
    width: calc(9vh + 9vw + 12.25rem);
    background-image: url(../img/pr2_website.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.2rem 1rem #9D9D9D;
    opacity: 0;
    height: 0;
    transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.pride .section-p span:hover::before{
    opacity: 1;
    height: calc(4.9vh + 4.9vw + 6.125rem);
}

.pride .section-p span::after{
    content: "Visit site to learn more";
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: absolute;
    bottom: 0;
    left: calc(-4.5vh - 4.5vw - 5.9rem + 80%);
    width: calc(9vh + 9vw + 12.25rem);
    opacity: 0;
    transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}
.pride .section-p span:hover::after{
    opacity: 1;
    bottom: calc(5.9vh + 5.9vw + 7.35rem);
}

#pride-shapes{
    margin: 5rem 16% calc(5rem + 7vw + 0.5vh) 16%;
    position: relative;
    width: auto;
    height: 35vw;
}
#pride-shapes span{
    position: absolute;
    width: 16vw;
}
#pride-shapes img{
    display: inline-block;
    width: 100%;
}
#pride-shapes span:first-of-type{
    top: 0;
    left: 0;
}
#pride-shapes span:nth-of-type(2){
    top: 12%;
    left: 30%;
    width: 17vw;
}
#pride-shapes span:nth-of-type(3){
    top: 8%;
    right: 10%;
}
#pride-shapes span:nth-of-type(4){
    bottom: 2%;
    left: 17%;
}
#pride-shapes span:nth-of-type(5){
    bottom: 0;
    right: 35%;
}
#pride-shapes span:last-of-type{
    bottom: 8%;
    right: 0;
    width: 23vw;
}
#pride-shapes span::after{
    word-wrap: break-word;
    white-space: pre;
    position: absolute;
    font-family: 'Radio Grotesk', sans-serif;
    text-transform: uppercase;
}
#pride-shapes span:first-of-type::after{
    content: "#FF1E00 \A #AE0000";
    bottom: 42%;
    left: 35%;
}
#pride-shapes span:nth-of-type(2)::after{
    content: "#f7ff15 \A #fda832";
    left: 27%;
    top: 28%;
}
#pride-shapes span:nth-of-type(3)::after{
    content: "#22b3e7 \A #003bff";
    left: 35%;
    top: 15%;
}
#pride-shapes span:nth-of-type(4)::after{
    content: "#ff8f00 \A #ff4400";
    bottom: 15%;
    left: 34%;
}
#pride-shapes span:nth-of-type(5)::after{
    content: "#22b3e7 \A #003bff";
    bottom: 40%;
    left: 37%;
}
#pride-shapes span:last-of-type::after{
    content: "#d373e0 \A #611698";
    bottom: 30%;
    right: 15%;
}

#pride-type {
    margin: 0 0 0 22%;
    padding: 1rem 1rem 1rem 2rem;
}
#pride-type h6{
    margin: 0;
    text-transform: uppercase;
    color: #9D9D9D;
    font-weight: 400;
    font-size: 0.7rem;
}
#pride-type p{
    font-family: 'Avenir', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    margin: 0 0 1.3rem 0;
}
#pride-type p:last-of-type{
    font-size: 2rem;
}

#pride-language{
    margin: 4rem 30% 5rem 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#pride-language > *{
    flex: 0 1 30%;
}
#pride-language ul{
    list-style: none;
    padding: 0;
}
#pride-language li{
    padding: 0.5rem 3rem 0.5rem 0.7rem;
    font-size: 1.1rem;
}
#pride-language ul:first-of-type li{
    font-weight: 500;
    color: white;
}
#pride-language ul:last-of-type li{
    font-weight: 700;
/*    padding-left: 0;*/
}
#pride-language li:first-of-type{
    padding-left: 0;
    color: #9D9D9D!important;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 400!important;
    font-size: 0.7rem;
}
#pride-language img{
    flex: 0 0 7.5rem;
    width: 7.5rem;
}

#pride-modes{
    margin: 0 22% 15% 22%;
    display: flex;
    flex-flow: row wrap;
}
#pride-modes > div:first-of-type{
    flex: 1 1 45%;
    display: flex;
    flex-flow: row wrap-reverse;
    align-content: center;
    justify-content: space-around;
    margin-right: 3rem;
}
#pride-modes > div:first-of-type div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    height: calc(8vw + 3rem);
    width: calc(8vw + 3rem);
    background-color: #D9D9D9;
    border-radius: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
#pride-modes > div:first-of-type span{
    margin-top: 0.4rem;
    font-size: 0.8rem;
}
#pride-modes > div:last-of-type{
    padding: 1rem 0 1rem 1rem;
    flex: 1 1 45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#pride-modes > div:last-of-type div{
    display: grid;
    grid-template-columns: 4rem auto;
    grid-column-gap: 2.5rem;
}
#pride-modes > div:last-of-type div:not(:last-of-type){
    margin: 0 0 2rem 0;
}
#pride-modes > div:last-of-type div h1{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}
#pride-modes > div:last-of-type div p{
    font-size: 0.8rem;
    margin: 0;
    line-height: 1.2rem;
}
#pride-modes div:last-of-type div:first-of-type p span{
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    color: #DD0000;
}
#pride-modes div div:first-of-type p span::before{
    content: "";
    position: absolute;
    bottom: 0;
    opacity: 0;
    height: 5rem;
    width: 5rem;
    background-image: url(../img/pr2_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}
#pride-modes div div:first-of-type p span:hover::before{
    opacity: 1;
    bottom: 1.5rem;
}


.split{
    padding: 0 16% 8% 16%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.split > img{
    align-self: flex-start;
    height: auto;
    width: 45%;
    box-shadow: -.5rem .5rem 1rem rgba(157, 157, 157, 0.64);
}

/*about*/
.about nav {
    position: fixed;
}

.about .header{
    margin-bottom: 3rem;
    padding: 0 1rem 1rem 0;
    background-color: rgba(255, 252, 245, 0.9);
    border-radius: 2rem;
}

.about .section-p{
    font-weight: 400;
    width: 32%;
}
.about > h1 {
    margin-top: 8rem;
}
.about > h1, .about > p{
    position: relative;
    z-index: 1;
    display: inline-block;
}
.about > img{
    z-index: 0;
    position: absolute;
    right: 0;
    top: calc(90px + 2rem + 2vw);
    width: calc(10rem + 25vw);
}

.about .large{
    font-family: 'Radio Grotesk', sans-serif;
    font-size: 1.7rem;
    margin-top: 3rem;
}

.links{
    display: inline-block;
    margin: 1rem 4rem 0 0;
    font-family: 'Radio Grotesk', sans-serif;
    font-weight: bold;
    color: #5522FD;
    padding: .5rem 2rem;
    text-decoration: none;
    border-radius: 10rem;
    border: .2rem solid #5522FD;
    transition: .5s ease;
}
.links:hover{
    background-color: #5522FD;
    color: #FFFCF5;
}
.links:first-of-type{
    margin-left: 22%;
}

/*archive page*/
.archive .p-header{
    font-size: 1.3rem;
}
.archive .split:first-of-type{
    padding-bottom: 0.75rem;
}
.archive .split:last-of-type{
    margin-bottom: 5rem;
}
.archive .split h4{
    margin: 0;
    width: 47%;
}
.archive .split > img{
    box-shadow: none;
}

.muse{
    display: inline-block;
    width: 47%;
    height: 47vw;
}
.muse .carousel-cell{
    width: 100%;
    height: 47vw;
    object-fit: cover;
}
.muse .carousel-cell:first-of-type{
        object-position: bottom;
}
.muse .carousel-cell:nth-of-type(2){
        object-position: top;
}

.ldm{
    margin: 0rem 16% 3rem 16%;
}
.ldm .carousel-cell{
    height: calc(27rem + 10vw);
}

.flickity-button{
    background: transparent!important;
    position: relative;
    width: 40px!important;
    height: 40px!important;
}
.flickity-button::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 100%;
    transition: .5s ease;
    left: 0;
    transform: scale(0);
}
.flickity-button:hover::before{
    transform: scale(1);
    background: #5522FD;
}
.flickity-prev-next-button{
    top: calc(100% + 25px + 1vh + 0.5vw)!important;
}
.flickity-prev-next-button.previous{
    left: calc(50% - 50px)!important;
}
.flickity-prev-next-button.next{
    right: calc(50% - 50px)!important;
}
.flickity-button-icon path{
    fill: #5522FD;
    transition: .5s ease;
}
.flickity-button:hover path{
    fill: white;
}

.case-study.hidden *:not(img), .case-study.hidden::before {
    transition: 0.15s linear;
    opacity: 0;
}

.transition-zoom, .transition-zoom-2, .transition-slide, .transition-fade-2{
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.transition-fade{
    transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
html.is-animating .transition-zoom, html.is-animating .transition-zoom-2{
    opacity: 0;
    transform: translateY(70%);
}
html.to-pridemonthhtml.is-animating .transition-zoom{
    transform: translateY(-70%);
}
html.to-missdiorhtml.is-animating .transition-zoom{
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
    height: 100vh;
}
html.to-pridemonthhtml.is-animating .transition-zoom-2{
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
    height: 100vh;
}
html.is-animating .transition-slide{
    transform: translateX(-9rem);
}
html.is-animating .transition-fade{
    opacity: 0;
}
html.is-animating .transition-fade-2{
    color: transparent;
}
html.is-leaving .transition-fade-2{
    opacity: 0;
}

@media only screen and (max-width: 768px) {
    nav{
        margin-bottom: calc(3rem + 2vw);
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: flex-start;
        justify-content: space-between;
        transition: 0.15s cubic-bezier(0.25, 1, 0.5, 1);
    }
    #logo{
        margin: calc(1.2rem + 1vh) calc(2.5rem + 1vw) calc(0.2rem + 1vh) 0;
    }
    #hamburger-button{
        margin: calc(1.2rem + 1vh) 0 0 calc(2.5rem + 1vw);
        display: inline-block;
    }
    #menu{
        width: 90vw;
        transform-origin: calc(3rem + 1vw) calc(1rem + 1.5vh);
    }
    
    footer h2{
        margin-bottom: 3rem;
    }
    footer div{
        flex-flow: column;
        align-items: flex-start;
    }
    footer div span{
        margin-bottom: 3rem;
    }
    
    #index-landing{
        min-height: 25rem;
    }
    #index-landing div{
        margin-bottom: 8vh;
    }
    .header{
        font-size: calc(1.5rem + 1.5vw);
        margin-left: calc(2.5rem + 1vw);
        margin-bottom: 0;
        line-height: calc(2.5rem + 0.75vh);
    }
    .header span{
        font-size: calc(1.5rem + 1.5vw);
    }
    .index > .guide-text{
        margin-bottom: 10vh;
    }
    #padding-square{
        height: 8rem;
    }
    .case-study{
        float: none;
        width: 100vw;
        height: 50vh;
    }
    .case-study::before{
        width: calc(55% + 4rem + 3vh);
    }
    .case-study::after{
        font-size: 5rem;
        top: -10%;
        left: 10%!important;
        right: 10%!important;
    }
    
    #project-title, #project-info, .section-header, .section-p, .p-header{
        margin-left: calc(2.5rem + 1vw);
        margin-right: calc(2.5rem + 1vw);
        width: auto;
    }
    #project-title{
        font-size: calc(1.8rem + 1vw + 1.5vh)
    }
    #project-info{
        flex-flow: column;
        font-size: 0.75rem;
    }
    #project-info span{
        margin-bottom: 1rem;
    }
    .missdior .header, .pride .header{
        font-size: calc(1rem + 1.5vh + 1vw);
        margin-left: calc(2.5rem + 1vw);
        margin-right: calc(2.5rem + 1vw);
        line-height: calc(2.5rem + 0.75vh);
    }
    #fullscreen-section{
        padding: calc(25% + 2vh) 0;
        height: 130vh;
    }
    #fullscreen-section::after{
        background-size: 90%;
    }
    .quote{
        margin-right: 22%;
        width: auto;
    }
    #colours{
        margin-right: 20%;
        margin-left: 20%;
        padding: 0;
        justify-content: space-around;
    }
    #colours div{
        margin: 1rem;
    }
    #type{
        margin-right: 20%;
        margin-left: 20%;
        padding: 0;
        grid-template-columns: auto;
        width: auto;
        justify-content: center;
    }
    .wide-img{
        margin-bottom: 0;
        padding: 0 0 8% 0;
    }
    .ticket::before{
        bottom: -20%;
    }
    #pride-shapes{
        margin-right: 7%;
        margin-left: 7%;
        height: 50vw;
    }
    #pride-type{
        margin-right: 16%;
        margin-left: 16%;
        padding: 0;
    }
    #pride-type p{
        font-size: calc(3rem + 1vw);
    }
    #pride-type p:last-of-type{
        font-size: calc(1.5rem + 0.5vw);
    }
    #pride-language{
        margin-right: 16%;
        margin-left: 16%;
        padding: 0;
        flex-flow: column;
        align-items: center;
    }
    #pride-language img{
        transform: rotate(90deg);
        width: 5rem;
    }
    #pride-modes{
        margin-right: 10%;
        margin-left: 10%;
        flex-flow: column;
    }
    #pride-modes > div:first-of-type{
        margin-right: 0;
        margin-bottom: 3rem;
    }
    #pride-modes > div:first-of-type div{
        height: calc(6vw + 5rem);
        width: calc(6vw + 5rem);
    }
    #pride-modes > div:last-of-type{
        padding: 0;
    }
    #pride-modes > div:last-of-type div{
        grid-column-gap: 1.5rem;
    }
    .split{
        padding: 0 7% 12% 7%;
    }
    #see-more img{
        height: calc(13.5rem + 17vw);
    }
    
    .archive .split > img{
        width: 50%;
    }
    .ldm{
        margin-left: 0;
        margin-right: 0;
    }
    .muse{
        width: 47.7%;
        height: auto;
    }
    .muse .carousel-cell{
        height: auto;
    }
    
    .about > img{
        position: static;
        width: 85%;
        float: right;
        margin-bottom: 5rem;
    }
    .about .section-p{
        width: auto;
    }
    .links{
        margin-left: calc(2.5rem + 1vw)!important;
        margin-right: 0;
        display: inline-block;
    }
    
    html.is-animating .transition-slide{
        transform: translateY(-9rem);
    }
    nav.shadow{
        background-color: #FFFCF5;
        box-shadow: 0 0.5rem 0.5rem rgba(193, 193, 193, 0.69);
    }
    nav.hidden{
        background-color: transparent;
        box-shadow: none;
    }
    nav.flatten{
        box-shadow: none;
    }
} 