@charset "utf-8";

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    margin: 45px 55px;
    position: relative;
    z-index: 2;
}

#logo {
    display: flex;
    flex-flow: row nowrap;
    height: 20px;
    align-items: center;
    margin-bottom: 25px;
}

#logo img {
    height: 100%;
    width: auto;
}

#hamburger_button {
    width: 20px;
    position: relative;
}

#hamburger_button hr{
    border: none;
    min-height: 3px;
    background-color: #5522fd;
    border-radius: 50px;
    margin: 0;
    transition: .5s ease;
}

#hamburger_button hr:nth-of-type(2){
    margin: 5px 0;
    width: 120%;
}

#hamburger_button:hover > hr{
    transform: scale(.8);
}

#hamburger_button:hover > hr:nth-of-type(2){
    margin: 3px 0;
}

#hamburger_button::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: -1;
    left: -40%;
    top: -45%;
    border-radius: 100px;
    transition: .5s ease;
}

#hamburger_button:hover::before{
    background-color: #D9D9D9;
    top: -80%;
}

#menu {
    position: absolute;
    top: -45px;
    left: -55px;
    z-index: -1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    width: 45vw;
    background-image: url('../img/menu.svg');
    background-size: cover;
    background-position: center right;
    transition: .5s ease;
    transform: scale(0);
    transform-origin: 55px 90px;
    border-radius: 100vh;
}

#menu a {
    font-family: 'Radio Grotesk', sans-serif;
    text-decoration: none;
    color: #1C1C1C;
    font-size: 6rem;
    margin: 20px 0 20px 30%;
}

.menu-active {
    animation: menu .5s ease;
    animation-fill-mode: forwards;
}

@keyframes menu {
    0%{
        transform: scale(0.40);
        border-radius: 100vh;
    }
    50%{
        transform: scale(1);
        border-radius: 0;
    }
    100%{
        transform: scale(1);
        border-radius: 0;
    }
}













