@font-face {
  font-family: 'Neue Montreal';
  src: url('NeueMontreal-Regular.woff2') format('woff2'),
      url('NeueMontreal-Regular.woff') format('woff'),
      url('NeueMontreal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('NeueMontreal-Bold.woff2') format('woff2'),
      url('NeueMontreal-Bold.woff') format('woff'),
      url('NeueMontreal-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Blenda Script';
    src: url('BlendaScript.eot');
    src: url('BlendaScript.eot?#iefix') format('embedded-opentype'),
        url('BlendaScript.woff2') format('woff2'),
        url('BlendaScript.woff') format('woff'),
        url('BlendaScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory';
    src: url('Mallory-Medium.eot');
    src: url('Mallory-Medium.eot?#iefix') format('embedded-opentype'),
        url('Mallory-Medium.woff2') format('woff2'),
        url('Mallory-Medium.woff') format('woff'),
        url('Mallory-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory';
    src: url('Mallory-Light.eot');
    src: url('Mallory-Light.eot?#iefix') format('embedded-opentype'),
        url('Mallory-Light.woff2') format('woff2'),
        url('Mallory-Light.woff') format('woff'),
        url('Mallory-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory';
    src: url('Mallory-Book.eot');
    src: url('Mallory-Book.eot?#iefix') format('embedded-opentype'),
        url('Mallory-Book.woff2') format('woff2'),
        url('Mallory-Book.woff') format('woff'),
        url('Mallory-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AFL';
    src: url('AFL.woff2') format('woff2'),
        url('AFL.woff') format('woff'),
        url('AFL.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }